<html>
	<head>
		
	</head>
	<body>
			<h1 class="strong">Offers</h1>
			
			<div class="tighten">
			<% if user_signed_in? %>
			<br>
			<% @links.each do |link| %>
				<% if link.place == 2 %>
					<% if Link.where(title: link.title).count >= 2 %>					
					<% else %>
						<%= link.title %>
						<br>
						<%= link.name %>
						<br>
						<%= link.description %>
						<br>
						<%= link.place %>
						<br>
						<a href="<%= link.link %>" class="link-black"><%= link.link %></a>
						<br>
						<%= link_to "View", link, class: "link-black" %>
						<br>
						<br>
					<% end %>
				<% else %>
				<% if link.place == 3 %>
					<% if Link.where(title: link.title).count >= 3 %>
					<% else %>
						<%= link.title %>
						<br>
						<%= link.name %>
						<br>
						<%= link.description %>
						<br>
						<%= link.place %>
						<br>
						<a href="<%= link.link %>" class="link-black"><%= link.link %></a>
						<br>
						<%= link_to "View", link, class: "link-black" %>
						<br>
						<br>
					<% end %>
				<% else %>
				<div class="offer">
					<h3 class="blue"><%= link.title %></h3>
					<%= link.description %>
					<br>
					<%= link_to "More Info", link, class: "offer-link link-black" %>
				</div>			
			<% end %>
			<% end %>
			<% end %>
			<% else %>
			<h2 id="notsignedin">To view our offers, please <a href="/users/sign_in" class="link-black">sign in.</a></h2>
			<% end %>

		</div>
	</body>
</html>