<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script type="text/javascript" src="link.js"></script>
	</head>
	<body>
		<h1 class="strong"><%= @link.name %></h1>
		<br>

			<div class="description lighter"><%= @link.description %></div>
			<br>
			<a href="<%= @link.link %>" class="link-black offer-link">View Product on Amazon</a>
			<br>
			<% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
			<%= link_to "Delete", link_path(@link), method: :delete, data: { confirm: "Are you sure?" }, class: "offer-link link-black" %>
			<% end %>
			<br>
			<br>
			<br>
		
		<%= form_for @link, method: :delete, class: "link" do |f| %>
			<%= f.submit :"Delete Link", class: "btn btn-info" %>
		<% end %>
		<br>
		<%= form_for :campaign, url: campaigns_path, class: "campaign" do |x| %>
			<%= x.hidden_field :title, value: @link.title %>
			<%= x.hidden_field :name, value: @link.name %>
			<%= x.hidden_field :link, value: @link.link %>
			<%= x.hidden_field :description, value: @link.description %>
			<%= x.hidden_field :owner, value: current_user.try(:email) %>
			<%= x.hidden_field :date, value: Date.today.to_s %>
			<%= x.submit :"Start Campaign", class: "btn btn-info" %>
		<% end %>

	</body>
</html>