<!DOCTYPE html>
<html>
<head>
  <title>Blog Force</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 	<div class="nav">
 		<div class="logo">
 			<span class="brand">
 				blog/force<i id="beta">beta</i>
 			</span>
 		</div>
 		<% if user_signed_in? %>
			<% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
				<div class="links-box">
		 			<a href="/links" class="link">Offers</a>
		 			<a href="/campaigns" class="link">Campaigns</a>
		 			<a href="/links/new" class="link">New Link</a>
		 			<a href="/users/sign_in" class="link">Log In</a>
		 			<a href="/users/sign_up" class="link">Sign Up</a>
		 			<span class="link"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
 				</div>
			<% else %>
				<div class="links-box">
					<a href="/links" class="link">Offers</a>
					<a href="/campaigns" class="link"><%= current_user.try(:email) %></a>
					<a href="/pages/contact" class="link">Contact Us</a>
					<span class="link"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				</div>
			<% end %>
 		<% else %>
			<div class="links-box">
				<a href="/pages/home" class="link">Home</a>
				<a href="/pages/about" class="link">About</a>
				<a href="/pages/contact" class="link">Contact Us</a>
				<a href="/users/sign_in" class="link">Log In</a><span>/</span>
				<a href="/users/sign_up" class="">Sign Up</a>
			</div>
 		<% end %>
 		
 	</div>
 	
 	<div class="body">

<%= yield %>
	</div>
</body>
</html>
